<div class="col-md-10 col-sm-offset-1">
	<h3 class="apiInfo">新增接口</h3>
	<input id="project" type="hidden" value="<%= project %>">
		<div class="input-group input-group-lg mb-15">
			<span class="input-group-addon">接口名称</span>
			<% if(isEdit) { %>
				<input type="text" id="apiname" class="form-control" placeholder="接口名称" value="<%= stringValueJson.name %>">
			<% } else { %>
				<input type="text" id="apiname" class="form-control" placeholder="中文数据接口名称，用于首页显示和搜索" value="<%= project %>/">
			<% } %>
		</div>
		<div class="input-group input-group-lg mb-15">
			<span class="input-group-addon">接口URL</span>
			<% if(isEdit) { %>
				<input type="text" id="apiurl" class="form-control" value="<%=stringValueJson.url%>" onblur="checkApiUrl(<%=stringValueJson.url%>)">
			<% } else { %>
				<input type="text" id="apiurl" onblur="checkApiUrl()" class="form-control" placeholder="英文APIurl，用于获取数据，http://localhost:3000/getjson/APIurl，不能重复"
					value="<%= project %>/">
			<% } %>
		</div>
	<div class="row">
		<div class="col-md-6">
			<div class="y Q">
				<div class="C A">JSON字符串</div>
			</div>
			<% if(isEdit) { %>
				<textarea class="edit-area J x P" id="eT"><%=stringValueJson.detail%></textarea>
			<% } else { %>
				<textarea class="edit-area J x P" id="eT"></textarea>
			<% } %>
		</div>
		<div class="col-md-6">
			<div class="K F" id="fU">
				<div class="y Q">
					<div class="C A" id="hW"></div>
					<div class="C B" id="kZ"></div>
				</div>
				<div class="z L">
					<div class="E edit-area" id="dS">
						<div class="C A">
							<div class="w">
								<div class="P" id="iX">
								</div>
							</div>
						</div>
						<div class="C B">
							<div class="w D">
								<div class="P" id="lA">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<h3 class="apiInfo">备注信息</h3>
	<div class="mb-15">
		<% if(isEdit) { %>
			<textarea id="api-introduce" class="col-md-12 edit-remark" ><%=stringValueJson.apiInfo%></textarea>
		<% } else { %>
			<textarea id="api-introduce" class="col-md-12 edit-remark" placeholder="填写接口的备注信息"></textarea>
		<% } %>
	</div>
	<div style="text-align:center">
		<a class="btn btn-lg btn-primary mb-15" id="ok-btn">编辑完成，保存接口</a>
	</div>
</div>
<script src="/lib/json_parse.js"></script>
<script>
	//记录被改变状态
	var changed = true;
	var _dom = document.getElementById("eT");

	function checkJSON(stringValue) {
		try {
			stringValue = JSON.parse(stringValue);
		} catch (err) {
			_dom.select(); // 选择对象
			document.execCommand("Copy"); // 执行浏览器复制命令
			if (confirm("json格式有误，已复制到剪贴板，是否去检查格式?")) {
				window.open("http://www.bejson.com/")
			}
			return false
		}
	}

	function checkApiUrl(oldUrl) {
		var apiurl = document.getElementById("apiurl").value.replace(/\s/g, "")
		$.ajax({
			url: '/repeat',
			type: 'get',
			data: {
				apiurl: apiurl
			},
			success: function (data) {
				if (data.repeat && apiurl != oldUrl) {
					document.getElementById("warn").style.display = 'block'
				} else {
					document.getElementById("warn").style.display = 'none'
				}
			}
		})
	}
	document.getElementById("ok-btn").addEventListener("click", function () {
		var stringValue = document.getElementById("eT").value,
			apiname = document.getElementById("apiname").value.replace(/\s/g, ""),
			project = document.getElementById("project").value.replace(/\s/g, "");
		apiurl = document.getElementById("apiurl").value.replace(/\s/g, "");
		if (!apiname || !apiurl) {
			alert("API名称和url为必填");
			return false;
		}
		$.ajax({
			url: '/detail/save',
			type: 'post',
			data: {
				'name': apiname,
				'url': apiurl,
				'project': project,
				'data': JSON.stringify({
					name: apiname,
					url: apiurl,
					project: project,
					apiInfo: document.getElementById("api-introduce").value,
					detail: stringValue
				})
			},
			success: function () {
				alert('保存成功')
				history.go(-1)
				location.reload()
			},
			error: function () {
				alert("保存失败，请重试！")
				history.go(-1)
				location.reload()
			}
		})
	})
</script>