<a href="<%= project %>/create" class="btn btn-lg btn-primary col-md-12 mb-15">
	<span class="glyphicon glyphicon-plus"></span>&nbsp;添加接口
</a>
<div class="row">
  <div class="col-lg-12">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="请输入大致的接口url" id="searchUrl">
	  <input type="hidden" value="<%= project %>" id="project">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" id="foundUrl">接口查询</button>
      </span>
    </div>
  </div>
</div>
<h3>接口列表</h3>
<% if(haveList && list.length > 0) { %>
<div class="panel panel-default">
	<table class="table">
		<thead>
			<tr>
				<th>项目</th>
				<th>接口名称</th>
				<th>接口url</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<% list.forEach(function(item,index) { %>
				<tr>
					<th><%= item.project %></th>
					<th><%= item.name %></th>
					<th><%= item.url %></th>
					<th class="col-sm-3">
						<a href="/api/<%= item.url %>" class="btn btn-xs btn-primary">查看结果</a>
						<a href="/detail/edit/<%= item.url %>" class="btn btn-xs btn-primary">重新编辑</a>
						<a href="javascript:;" data-url="<%= item.url %>" class="btn btn-xs btn-danger del">删除接口</a>
					</th>
				</tr>		
			<% }) %>
		</tbody>
	</table>
</div>
<% } else { %>
	<p>本地没有找到任何已存在接口，点击按钮创建一个新接口</p>
<% } %>
<script>
	$(".del").on('click',function() {
		var url = $(this).data("url");
		$.ajax({
			url:'/detail/delete',
			type:'post',
			data:{
				url: url
			},
			success:function(data){
				if(data.code === 0) location.reload()
			},
			error:function(){
				alert("出错了")
			}
		})
	})

	$('#foundUrl').on('click', function() {
		var url = $('#searchUrl').val();
		var project=$('#project').val();
		$.ajax({
			url: '/detail/search',
			type: 'post',
			data: {
				url: url,
				project: project
			}
		})
	})
</script>
