

<% if(haveList && list.length > 0) { %>
<div class="panel panel-default">
	<div class="panel-heading">接口列表</div>
	<table class="table">
		<thead>
			<tr>
				<th>项目</th>
				<th>接口名称</th>
				<th>接口url</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<% list.forEach(function(item,index) { %>
				<tr>
					<th><%= item.project %></th>
					<th><%= item.name %></th>
					<th><%= item.url %></th>
					<th class="col-sm-3">
						<a href="/api/<%= item.url %>" class="btn btn-xs btn-default">查看结果</a>
						<a href="/detail/edit/<%= item.url %>" class="btn btn-xs btn-default">重新编辑</a>
						<a href="javascript:;" data-id="<%= item.url %>" class="btn btn-xs btn-default delete">删除接口</a>
					</th>
				</tr>		
			<% }) %>
		</tbody>
	</table>
</div>
<% } else { %>
	<p>本地没有找到任何已存在接口，点击按钮创建一个新接口</p>
<% } %>
<a href="<%=project %>/create" class="btn btn-lg btn-default col-md-12">
	<span class="glyphicon glyphicon-plus"></span>&nbsp;添加接口
</a>
<script>
	$(".delete").on('click',function(e) {
		var _id = $(e.currentTarget).data("id");
		if(confirm("确定删除吗？")){
			$.ajax({
				url:'/detail/delete',
				type:'post',
				data:{
					url:_id
				},
				success:function(data){
					if(data.code === 0) location.reload()
				},
				error:function(){
					alert("出错了")
				}
			})
		}

	})
</script>
